@import "tailwindcss";
@plugin "daisyui";


@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-parkinsans: "Parkinsans", sans-serif;
  --color-newpage: #f9eee2;
}